[submodule "rust/day-01"]
	path = rust/day-01
	url = git@github.com:AnthonyZhOon/advent-of-code-2023.git
[submodule "rust/day-02"]
	path = rust/day-02
	url = git@github.com:AnthonyZhOon/advent-of-code-2023.git
[submodule "rust/day-03"]
	path = rust/day-03
	url = git@github.com:AnthonyZhOon/advent-of-code-2023.git
[submodule "rust/day-04"]
	path = rust/day-04
	url = git@github.com:AnthonyZhOon/advent-of-code-2023.git
[submodule "rust/day-05"]
	path = rust/day-05
	url = git@github.com:AnthonyZhOon/advent-of-code-2023.git
[submodule "rust/day-06"]
	path = rust/day-06
	url = git@github.com:AnthonyZhOon/advent-of-code-2023.git
[submodule "rust/day-07"]
	path = rust/day-07
	url = git@github.com:AnthonyZhOon/advent-of-code-2023.git
[submodule "rust/day-08"]
	path = rust/day-08
	url = git@github.com:AnthonyZhOon/advent-of-code-2023.git
[submodule "rust/day-09"]
	path = rust/day-09
	url = git@github.com:AnthonyZhOon/advent-of-code-2023.git
[submodule "rust/day-10"]
	path = rust/day-10
	url = git@github.com:AnthonyZhOon/advent-of-code-2023.git
